<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring Boot Server" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <module name="Server.main" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.example.Server.ServerApplication" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <option name="SHORTEN_COMMAND_LINE" value="NONE" />
    <option name="FRAME_DEACTIVATION_UPDATE_POLICY" value="UpdateClassesAndResources" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>
